In [5]:
import pandas as pd
excel_file = r'E:\E\MTech in AI & ML - IIT Jammu\2nd sem\Project Machine Learning\data_excel.xlsx'

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(excel_file)

# Display the shape of the DataFrame
print("Shape of DataFrame:", df.shape)

# Display the features or characteristics of the DataFrame
print("\nFeatures or Characteristics of DataFrame:")
print(df.info())

# Display the first 5 entries of the DataFrame
print("\nFirst 5 entries of DataFrame:")
print(df.head())

Shape of DataFrame: (435742, 13)

Features or Characteristics of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 43.2+ MB
None

First 5 entries of DataFrame:
  stn_code       sampling_date           state   location agency  \
0      150  February - M021990  Andhra Pradesh  Hyderabad    NaN
1      151  February - M021990  Andhra Pradesh  Hyderabad    NaN
2      152  February - M021990  Andhra Pradesh  Hyderabad    NaN
3      150     March - M031990  Andhra Pradesh  Hyderabad    NaN
4      151     March - M031990  Andhra Pradesh  Hyderabad    NaN

                                 type  so2   no2  rspm  spm  \
0  Residential, Rural and other Areas  4.8  17.4   NaN  NaN
1                     Industrial Area  3.1   7.0   NaN  NaN
2  Residential, Rural and other Areas  6.2  28.5   NaN  NaN
3  Residential, Rural and other Areas  6.3  14.7   NaN  NaN
4                     Industrial Area  4.7   7.5   NaN  NaN

  location_monitoring_station  pm2_5       date
0                         NaN    NaN 1990-02-01
1                         NaN    NaN 1990-02-01
2                         NaN    NaN 1990-02-01
3                         NaN    NaN 1990-03-01
4                         NaN    NaN 1990-03-01

In [1]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [2]:
import pandas as pd

# Set display options to show all columns
pd.set_option('display.max_columns', None)

excel_file = r'E:\E\MTech in AI & ML - IIT Jammu\2nd sem\Project Machine Learning\data_excel.xlsx'

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(excel_file)

# Display the shape of the DataFrame
print("Shape of DataFrame:", df.shape)

# Display the features or characteristics of the DataFrame
print("\nFeatures or Characteristics of DataFrame:")
print(df.info())

# Display the first 5 entries of the DataFrame with selected columns
print("\nFirst 5 entries of DataFrame with selected columns:")
print(df.iloc[:, :25].head().to_string())  # Select the first 25 columns

Shape of DataFrame: (435742, 13)

Features or Characteristics of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 43.2+ MB
None

First 5 entries of DataFrame with selected columns:
  stn_code       sampling_date           state   location agency                                type  so2   no2  rspm  spm location_monitoring_station  pm2_5       date
0      150  February - M021990  Andhra Pradesh  Hyderabad    NaN  Residential, Rural and other Areas  4.8  17.4   NaN  NaN                         NaN    NaN 1990-02-01
1      151  February - M021990  Andhra Pradesh  Hyderabad    NaN                     Industrial Area  3.1   7.0   NaN  NaN                         NaN    NaN 1990-02-01
2      152  February - M021990  Andhra Pradesh  Hyderabad    NaN  Residential, Rural and other Areas  6.2  28.5   NaN  NaN                         NaN    NaN 1990-02-01
3      150     March - M031990  Andhra Pradesh  Hyderabad    NaN  Residential, Rural and other Areas  6.3  14.7   NaN  NaN                         NaN    NaN 1990-03-01
4      151     March - M031990  Andhra Pradesh  Hyderabad    NaN                     Industrial Area  4.7   7.5   NaN  NaN                         NaN    NaN 1990-03-01